* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Roboto',sans-serif;
    line-height: 1.6;
    color: var(--color-text);

    background-color: var(--color-background);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    color: var(--color-text);
    font-family: 'Roboto',sans-serif;
}